@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

ol,ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.wrap{
    width: 1690px;
}
html,body{
    overflow-x: hidden;
}

/*header*/
header{ 
    background-color: #363636;
    width: 100%;
}

header .inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    position: relative;

    
}

header .inner  img{
    width: 230px;
    height: 80px;
}


/*nev 메뉴*/
nav .menu{
    display: flex;
    align-items: center;
    justify-content: center;

}

nav .menu li:not(.submenu li){
    margin-left: 40px;
}

nav .menu a{
    color: #fff;
    font-weight: bold;
}


header nav .subback {
    position: absolute;
    left:0;
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 300px;
    top: 100px;
    opacity: 0.8;
    display: none;
    z-index: 1;
}

/*서브 메뉴*/
.submenu {
    position: absolute;
    top:100px;
    margin-top: 10px;
    display: none;
    z-index: 1;
}


.submenu ul {
    margin-left: 0;
}
.submenu li{
    text-align: center;
    margin-bottom: 10px;

}

.submenu li a{
    color:#000;
    font-weight: normal;
    font-size: 13px;
    color:#fff;
}

.submenu li a:hover{
    color:  rgb(252, 211, 28);
}

/*오른쪽 메뉴*/
.right_menu{
    right: 0;
    
}

/*점주전용 바로가기*/
.text{
    padding:5px 11px;
    border:1px solid rgb(252, 211, 28);
    top:0;
    margin-top: 10px;
    margin-left: 22px;
    margin-bottom: 10px;
}

.text h6{
    color:  rgb(252, 211, 28);
    text-align: center;
}

/*sns*/
.sns{
    bottom: 10px;

}
.sns ul{
    display: flex;
}

.sns ul li{
    margin-left: 10px
}
.sns li img{
    width: 40px;
    height: 40px;
}

/*슬라이드*/

.slide{
   
    position: relative;
}

.slide .inner{
    width: 100%;
    height: 100%;
}
.inner img{
    width: 100%;
    height: 100%;
}


/*slick 슬라이드 css*/
.slick-dots {
    position: relative !important;
    bottom: 50px
}; 


.slick-active{
    background-color: rgb(255, 255, 255) !important; 
}

.slick-dots li button:before {
    opacity: 1 !important;
    color:#fff;    
}


.slick-dots li.slick-active button:before{
    color:rgb(252, 211, 28);
}


.slick-arrow{
    position: absolute !important;
    top:40% !important;
    transform: translate(-50%) !important;
    font-size: 50px !important;
    color:#fff  !important;
    display: flex !important;
    align-items: center !important;
    padding:70px 20px !important;
    font-size: 50px !important; 
    cursor: pointer !important;
    z-index: 1 !important; 

}

.slick-dotted.slick-slider{
    margin-bottom: -30px !important;

}
.slick-arrow:hover{
    color:rgb(252, 211, 28) !important;
    transition: 0.5s;
}
.slick-prev{
    left:5% !important;
}

.slick-next{
    right:5% !important;
}

.slick-next::before {
    content: "" !important;
}
.slick-prev::before {
    content: "" !important;
}


/*유튜브 링크*/
.video_background{
    background-color: #3b2518;
    width: 100%;
    padding:100px 0;
    text-align: center;
    position: relative;
}

.cfixed:after{
    display:block;
    content:"";
    clear:both;
}

/*리스트 박스*/
.work-list{
    display: flex;
    flex-wrap: wrap;
}

.work-section .work-list li{
    width: 20%;
    text-align: left;
    
    }
    
    .work-section .work-list li a{
    display:block;
    position:relative;
    width:100%;
    height:100%;
    }
        
    .work-section .work-list li a:before{
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    z-index:10;
    width:100%;
    height:50px;
    background:#000;
    content:"";
    opacity:0;
    transition:all 0.2s;
    }
        
    .work-section .work-list li a:hover:before{
    opacity:0.86;
    }
        
    .work-section .work-list li .info{
    position:absolute;
    bottom:0;
    left:23px;
    z-index:20;
    opacity:0;
    transition:all 0.3s;
    }
        
    .work-section .work-list li a:hover .info{
    transform:translateY(-17px);
    opacity:1;
    }
        
    .work-section .work-list li .info span{
        font-size:13px;
        color:#fff;
    }
            
    .work-section .work-list li img{
        display:block;
        width:100%;
        max-width:100%;
        height:auto;
     }   

     /*배너 박스*/
    
     .life{
         padding: 50px 180px;
         display: flex;
         justify-content: center;
        
     }

    .life .banner img{
        width: 500px;
    }
    
    .textbox{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: baseline;
        position: relative;
        line-height: 70px;
    }

    .textbox h3{
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .textbox h1{
        width: 100%;
        text-align: center;
        font-size: 130px;
        color:rgb(252, 211, 28);
        position: relative;
    }

    .textbox span{
        font-size: 50px;
    }

   .smallLogo{
        margin-top: 70px;
        margin-left: -60px;
   }
   .smallLogo img{
       width: 200px;
   }

   .megalogo{
       margin-left: -235px;
       margin-top: 145px;
   }

   .megalogo img{
       width: 90px;
   }

   /*비디오 박스*/
   .mgc{
       background: #ececec;
       padding: 50px 200px;
   }
   .mgc .inner{
       display: flex;
       justify-content: space-around;
       
   }
   .videobox{
    position: relative;

   }

   .inner .videobox h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    letter-spacing: 3px;
    color:#7f6767;
   }    

   .inner .videobox{
       padding-right: 50px;
       border-right: 2px solid #fff;;
   }

   /*포인트 배너*/

   .point .inner img{
       width: 100%;
       height: 100%;
       object-fit: cover;
   }

   /*하단 인테리어 박스*/
   .interior{
       background: #3b2518;
       display: flex;
       justify-content: center;
       align-items: center;
       padding:100px 200px
   }

   .interior .box{
       background: #ffd437;
       width: 250px;
       display: flex;
       height: 350px;
       justify-content: center;
       align-items: center;
       flex-direction: column;

   }

   .interior .box h1{
       text-align: center;
       letter-spacing: 2px;
       font-size: 35px;
       color:#3b2518;
       font-weight: normal;
   }

   .interior .box h1::after{
       content: "";
       display:inline-block;
       width: 25px;
       text-align: center;
       display: flex;
       position: relative;
       left: 75px;
       margin:20px 0;
       height: 4px;
       background-color: #3b2518;
   }

   .interior .box p{
       text-align: center;
   }
   .interior img{
       width:550px;
       height: 350px;
   }

/*푸터*/
   footer{
       background: #363636;
       width: 100%;
       padding:20px 200px;

   }

   footer .inner{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;


   }
   footer .inner img{
       width: 250px;
       margin-bottom: 15px ;
   }

   footer .inner ul{
       display: flex;
        justify-content: center;       
       
   }

   footer .inner li{
       color:rgb(160, 160, 160);
        margin-left: 20px;
        font-size: 13px;
   }
